.env
.env.local
*.local

# Node
node_modules/
scripts/node_modules/

# Flutter
iseco_notifier/.dart_tool/
iseco_notifier/.flutter-plugins
iseco_notifier/.flutter-plugins-dependencies
iseco_notifier/.packages
iseco_notifier/build/
iseco_notifier/.env

# Firebase / secrets
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.branches
supabase/.temp


#Firebase
iseco-notifier-f4906-firebase-adminsdk-fbsvc-aed3e9d323.json
service-account.json
google-services.json

# TODO
TODO.md